NODE_ENV='development'
PORT=0

DB='mongodb+srv://usr:password@cluster...'

MAIN_SITE_URL="#"
CHANGE_PASSWD_URL="#"

ACCESS_TOKEN_SECRET='bla-bla'
REFRESH_TOKEN_SECRET='bla-bla'
ACCESS_TOKEN_EXPIRES_IN='10000d'
REFRESH_TOKEN_EXPIRES_IN='300000000d'

PASSWD_RESET_TOKEN_LENGTH=0
PASSWD_RESET_TOKEN_EXPIRES_IN=0

EMAIL_FROM='mail@gmail.com'
EMAIL_USERNAME='example'
EMAIL_PASSWD='password'

AWS_ACCESS_KEY_ID='bla-bla'
AWS_SECRET_ACCESS_KEY='bla-bla'
AWS_REGION='bla-bla'
AWS_BUCKET='bla-bla'

RATELIMIT_MAX=0
RATELIMIT_TIME=0
REQUEST_BODY_MAX='10000000kb'
BCRYPT_COST=0

TOUR_NAME_MAX_LENGTH=0
TOUR_NAME_MIN_LENGTH=0
RATING_MIN=0
RATING_MAX=0
RATING_DEFAULT=0

USER_AVATAR_MAX_SIZE=0
USER_AVATAR_RESOLUTION=0
DEFAULT_USER_AVATAR='default.jpg'
USER_PASSWD_MIN_LENGTH=0
